.auth-container {
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
}