{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="content-container">
        <h1 class="content-header-left">Home</h1>
        <div>
            <h2 class="content-sub-header mb-4">Have a question?</h2>
            <div class="row" style="margin-left: 20%; margin-right: 20%;">
                <a type="button" class="btn btn-success btn-lg col" href="{{ url_for('qa.question_search') }}">
                    Find question
                </a>
                <h2 class="col" align="center">or</h2>
                <a type="button" class="btn btn-primary btn-lg col" href="{{ url_for('qa.question_create') }}">
                    Ask question
                </a>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex gap-4">
                <div class="content-sub-container container-fluid">
                    <h2>Newest questions</h2>
                    <div class="list-group mt-3">
                        {% if newest_questions %}
                            {% for question in newest_questions %}
                                <div class="list-group-item list-group-item-action">
                                    <a href="{{ url_for('qa.question_view', question_id=question['id'])}}" class="list-item">
                                        {{ question["name"] }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 class="small-error-message">No questions found</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="content-sub-container container-fluid">
                    <h2>Last viewed questions</h2>
                    <div class="list-group mt-3">
                        {% if last_questions %}
                            {% for question in last_questions %}
                                <div class="list-group-item list-group-item-action">
                                    <a href="{{ url_for('qa.question_view', question_id=question['id'])}}" class="list-item">
                                        {{ question["name"] }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 class="small-error-message">There are no recent-visited questions</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="content-sub-container mt-4">
                <h2>Your questions</h2>
                <div class="list-group mt-3">
                    {% if your_questions %}
                        {% for question in your_questions %}
                            <div class="list-group-item list-group-item-action">
                                <a href="{{ url_for('qa.question_view', question_id=question['id'])}}" class="list-item">
                                    {{ question["name"] }}
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="small-error-message">You haven't asked any questions yet</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}