{% extends "base.html" %}

{% block title %}Ask&Learn{% endblock %}

{% block styles %}
    <link href="{{ url_for('welcome.static', filename='css/welcome.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h1 class="logo-header">Ask & Learn</h1>
        <h1 class="slogan">Have a <b>question</b>? Get an <b>explanation</b>!</h1>
        <div class="button-container d-grid gap-2 col-6 mx-auto" align="center">
            <a type="button" class="btn btn-dark btn-lg text-white" href="#">Ask your question!</a>
        </div>
    </div>
{% endblock %}