{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <link href="{{ url_for('user.static', filename='css/user.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-container">
        {% if displayed_user %}
            {% if not (friendship and friendship["status"]["name"] == "blocked" and friendship["last_changed_by"] != current_user.id) %}
                <div class="profile-user-header-container">
                    {% if displayed_user["icon"] %}
                        <img src="{{ url_for('user.static', filename='users_icons/' + displayed_user['icon']) }}"
                             class="profile-user-icon" alt="Download error">
                    {% else %}
                        <img src="{{ url_for('user.static', filename='users_icons/default_icon.webp') }}"
                             class="profile-user-icon" alt="Download error">
                    {% endif %}
                    <div>
                        <h1 class="profile-user-name">{{ displayed_user["name"] }}</h1>
                        <a href="{{ url_for('user.profile', user_id=displayed_user['id']) }}" class="profile-user-login">
                            {{ displayed_user["login"] }}
                        </a>
                    </div>
                    {% if displayed_user["id"] != current_user.id %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="width: 100%;">
                            <div>
                                {% if current_user.is_authenticated and displayed_user["id"] != current_user.id %}
                                    {% if not friendship %}
                                        <a type="button" class="btn btn-primary"
                                           href="{{ url_for('friendship.send_request', friend_id=displayed_user['id']) }}">
                                            Send friendship request
                                        </a>
                                    {% endif %}
                                    {% if friendship and friendship["status"]["name"] == "blocked" and friendship["last_changed_by"] == current_user.id %}
                                        <a type="button" class="btn btn-success"
                                           href="{{ url_for('friendship.delete', friend_id=displayed_user['id'], next=request.url) }}">
                                            Unblock
                                        </a>
                                    {% else %}
                                        <a type="button" class="btn btn-danger"
                                           href="{{ url_for('friendship.block', friend_id=displayed_user['id'], next=request.url) }}">
                                            Block
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card text-bg-light mb-3" style="margin-top: 2.5%;">
                    <h3 class="card-header">User description</h3>
                    <div class="card-body">
                        {% if displayed_user["description"] %}
                            <h4 class="card-text">{{ displayed_user["description"] }}</h4>
                        {% else %}
                            <h4 class="card-text" align="center">The description is missing</h4>
                        {% endif %}
                    </div>
                </div>
                {% if current_user.id == displayed_user["id"] and current_user.password == displayed_user["password"] %}
                    <div class="d-inline-flex gap-1" style="width: 100%; margin-top: 2.5%;">
                        <a type="button" class="btn btn-primary" style="width: 33.3%;"
                           href="{{ url_for('user.profile_edit') }}">
                            Edit profile
                        </a>
                        <a type="button" class="btn btn-danger" style="width: 33.3%;"
                           href="{{ url_for('auth.logout') }}">
                            Logout
                        </a>
                        <a type="button" class="btn btn-danger" style="width: 33.3%;"
                           href="{{ url_for('user.delete') }}">
                            Delete account
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <h1 class="error-message">The user has blocked you</h1>
            {% endif %}
        {% else %}
            <h1 class="error-message">User not found</h1>
        {% endif %}
    </div>
{% endblock %}