{% extends "base.html" %}

{% block title %}User Search{% endblock %}

{% block styles %}
    <link href="{{ url_for('user.static', filename='css/user.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1 class="content-header-left">User Search</h1>
        {% if not error_message and error_message != "" %}
            <form class="d-flex" method="post" style="margin-bottom: 1%;">
                {{ search_form.hidden_tag() }}
                {{ search_form.search(class="form-control me-2", type="search", placeholder="Search") }}
                {{ search_form.submit(class="btn btn-success", type="submit") }}
            </form>
            <div class="content-sub-container">
                {% if found_users %}
                    <div class="list-group">
                        {% for user in found_users %}
                            {% if user["id"] != current_user.id %}
                                <div class="list-group-item d-flex justify-content-between align-items-start">
                                    <a href="{{ url_for('user.profile', user_id=user['id'])}}"
                                       class="list-user-info">
                                        {% if user["icon"] %}
                                            <img src="{{ url_for('user.static', filename='users_icons/' + user['icon']) }}"
                                                 class="user-icon">
                                        {% else %}
                                            <img src="{{ url_for('user.static', filename='users_icons/default_icon.webp') }}"
                                                 class="user-icon">
                                        {% endif %}
                                        {{ user["name"] }}
                                    </a>
                                </div>
                            {% elif found_users|length == 1 %}
                                <h1 class="small-error-message">Nothing was found for your query</h1>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <h1 class="small-error-message">Nothing was found for your query</h1>
                {% endif %}
            </div>
        {% else %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages[:1] %}
                    {% if category == "error" %}
                        <h1 class="error-message">{{ message }}</h1>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}