.content-container {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 1%;
    align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.content-sub-container {
    padding: 1%;
    align: center;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}
.content-header {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2.5%;
}
.content-sub-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 1%;
}
.content-sub-header-left {
    text-align: left;
    font-size: 32px;
    margin-bottom: 1%;
}
.user-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 100%;
}
.user-name {
    text-decoration: None;
    color: #000000;
    font-size: 22px;
}
.error-message {
    font-size: 50px;
    text-align: center;
    padding: 25%;
}
.small-error-message {
    font-size: 36px;
    text-align: center;
    padding: 10%;
}
.alert-container {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 25%;
    padding-left: 25%;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.footer {
    margin-top: 5%;
}
.list-item {
    display: flex;
    text-decoration: none;
    color: #000000;
    font-weight: 100%;
    font-size: 24px;
    gap: 4px;
}
.sub-text {
    font-size: 22px;
    color: #888888;
    font-weight: 30%;
}